*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6dede;
}

.main-section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px; 
    margin: auto;
    border: 1px black solid;
    width: 200px;
}

.main-section div{
    width: 20px;
    background-color: aqua;
    margin: 10px;
    text-align: center;
}

input{
    grid-column: 1 / span 4;
}

.equals{
    grid-row: 3 / span 4;
    grid-column: 4; 
}

