*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #02343F;
    color:#FFA000;
    font-family: 'Poppins', sans-serif;
}


.title{
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
}

.tabs{
    display: flex;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin-top: 50px;
}

.tabs a{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    color:#FFA000
}

.tabs a:hover{
    background-color: #FFA000;
    color: #02343F;
}

.tabs a.active {
  font-weight: bold;
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.tab-content{
    width: 300px;
    margin: 50px auto;
    border-radius: 20px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-container{
    width: 180px;
    height: 150px;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
}

.icon-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-title{
    text-align: center;
}


.services-container {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  line-height: 50px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.services-container.active {
  display: block;
  animation: fadeIn 0.4s ease-in-out;
  opacity: 1;
}

.tab-link.active {
  font-weight: bold;
  text-decoration: underline;
}



.services-container button{
    padding: 5px;
    background-color: #02343F;
    border: none;
    border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     margin-left: 100px;
     color:#FFA000;
}
.services-container button:hover{
    background-color:#FFA000;
    color: #02343F;
}

.services-container p{
   text-align: center;
}


@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
    align-items: center;
  }

  .tab-content {
    width: 90%;
  }

  .icon-container {
    width: 100px;
    height: 100px;
  }

  .services-container button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

